
.shiny-output-error-no-pat {
  text-align: center;
  line-height: 500px;
  background: #FFF;
}

.titre {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:28px;
  margin-top: 5px; margin-bottom: 0px;
  text-align: left;
  font-weight: normal;
  color: #222;
}

.soustitre {
  font-family: "Lucida Grande", Tahoma;
  font-size: 14px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666666;
  margin-top: 10px;
  text-align: left;
  letter-spacing: 0.3em;
}


body {
  font-family: Georgia, "Times New Roman", Times, serif;
}


.icon-white {
  color: #FFF;
}


#magnifying-glass
{
 font-size: 30em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid red;
 position: fixed;
 top: 10px;
 left: 10px;
 border-radius: 0.35em;
}
#magnifying-glass::before
{
 content: "";
 display: inline-block;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background: red;
 width: 0.35em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}



.main-icon {
  position: absolute; 
  top: -35px; 
  right: 15px; 
  color: #F2F2F2; 
  font-size: 1100%; 
  z-index: -1;
}

.dreamrs {
  background-image:url(logo_dreamRs_couleur.png);
  background-repeat:no-repeat;
  background-position:right bottom;
  background-size: 156px 100px;
}


.progress {
  margin-bottom: 3px !important;
}
.progress-bar-nuclear {
  background-color: #f8ca4c;
}
.progress-bar-fossil {
  background-color: #848484;
}
.progress-bar-renewable {
  background-color: #088A08;
}


.material-switch > input[type="checkbox"]:checked + label::after {
    background: #112446;
}


.btn-dreamrs {
  background-color: #112446;
  color: #fff;
  border-color: #112446;
}

.btn-dreamrs:hover {
  color: #fff;
}

.btn-dreamrs.active {
  color: #112446;
  background-color: #fff;
  border-color: #112446;
}


/* Charts */

.plot-spin {
  background: #FFFFFF;
}

.bb-line-forecast {
  stroke-width: 2px;
}

.bb-line-observed {
  stroke-dasharray: 12 4; stroke-width: 2px;
}
